In [25]:
import pandas as pd
import pyodbc
import pandas.io.sql

In [34]:
# Parameters
server = 'DESKTOP-V7B8HFS\CINARBILISIM'
db = 'CinarHost'

# Create the connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=DESKTOP-V7B8HFS\CINARBILISIM; DATABASE=CinarHost;Trusted_Connection=yes')

# query db

sql = "SELECT  top 5 stop_time FROM RI_cleaned"

In [35]:
df = pandas.io.sql.read_sql(sql, conn)
df.head()

  stop_time
0     15:56
1     16:19
2     16:55
3     17:11
4     17:20