<a href="https://colab.research.google.com/github/semihcinar/PyPandas/blob/main/GitHub_Python_Joining_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

.JOİNİNG()

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

.JOİNİNG() Pandas ın fonksiyonudur. Doğrudan birleştirmeden kullanılır.

In [ ]:
sol = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index = ['K0', 'K1', 'K2']) 
sag = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index = ['K0', 'K2', 'K3'])

In [ ]:
sol

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [ ]:
sag

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [ ]:
sol.join(sag)  # iki tabloyu doğrudan birleştirdiği görülmektedir.

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
sol.join(sag, how="outer")  # OUTER ilişkili olmayan alanları göstermek için kullanılır.

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [ ]:
sag.join(sol, how="outer")

      C    D    A    B
K0   C0   D0   A0   B0
K1  NaN  NaN   A1   B1
K2   C2   D2   A2   B2
K3   C3   D3  NaN  NaN

In [ ]:
DataFrame = pd.DataFrame({'key': ['K0', 'K2', 'K3', 'K4', 'K5', 'K6'],
                   'X': ['X0', 'X2', 'X3', 'X4', 'X5', 'X6']})
DataFrame

  key   X
0  K0  X0
1  K2  X2
2  K3  X3
3  K4  X4
4  K5  X5
5  K6  X6

In [ ]:
Diger = pd.DataFrame({'key': ['K0', 'K2', 'K3'],
                      'Y': ['Y0', 'Y2', 'Y3']})
Diger

  key   Y
0  K0  Y0
1  K2  Y2
2  K3  Y3

In [ ]:
DataFrame.join(other) # join de stun isimleri FARKLI  olamaz. dolayısıyla hata alırız.

ValueError: columns overlap but no suffix specified: Index(['key'], dtype='object')

In [ ]:
DataFrame.join(other, lsuffix="_left", rsuffix="_right")

  key_left   X key_right    Y
0       K0  X0        K0   Y0
1       K2  X2        K2   Y2
2       K3  X3        K3   Y3
3       K4  X4       NaN  NaN
4       K5  X5       NaN  NaN
5       K6  X6       NaN  NaN